app:
  name: app
  replicas: 1
  
  image:
    repository: ghcr.io/doda25-team9/app
    tag: latest
    pullPolicy: Always
  
  service:
    name: app-service
    port: 8080
    type: ClusterIP
  
  labels:
    app: sms-checker
    component: app

modelService:
  name: model
  replicas: 1
  
  image:
    repository: ghcr.io/doda25-team9/model-service
    tag: latest
    pullPolicy: Always
  
  service:
    name: model-service
    port: 8081
    type: ClusterIP
  
  labels:
    app: model-service
  
  volume:
    hostPath: /mnt/shared

ingress:
  enabled: true
  name: app-ingress
  className: nginx
  host: sms-checker.local

configMap:
  name: env-config-map

secret:
  name: secret
  smtpUser: "placeholder-user"
  smtpPass: "placeholder-password"

alertmanager:
  smtp:
    user: "doda.team9@gmail.com"
    password: "PLACEHOLDER_REPLACE_WITH_GMAIL_APP_PASSWORD"
  recipient: "PLACEHOLDER_REPLACE_WITH_YOUR_EMAIL"

kube-prometheus-stack:
  fullnameOverride: "prometheus"

  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelector:
        matchLabels:
          release: prometheus
      alertingEndpoints:
      - name: prometheus-alertmanager
        namespace: default
        port: http-web
        scheme: http
  
  defaultRules:
    create: false  # Disable all default rules      
  
  alertmanager:
    enabled: true
    alertmanagerSpec:
      useExistingSecret: true
      configSecret: alertmanager-custom-config

  grafana:
    enabled: true
    adminUser: admin
    adminPassword: admin123
  
istio:
  enabled: true
  host: sms-checker.local
  
  gateway:
    name: sms-gateway
    ingressGatewaySelector: ingressgateway
  
  trafficSplit:
    stable: 90
    canary: 10

  stickySession:
    enabled: true
    cookieName: user-session
    ttl: 3600

versions:
  v1:
    enabled: true
    replicas: 1
    appImageTag: "0.0.8-SNAPSHOT"
    modelImageTag: "0.2.0"
    modelVersion: "v0.1.0"
  
  v2:
    enabled: true
    replicas: 1
    appImageTag: "0.0.9-SNAPSHOT"
    modelImageTag: "0.3.0-SNAPSHOT"
    modelVersion: "v0.2.0"

shadowLaunch:
  enabled: true
  replicas: 1
  modelImageTag: latest
  modelVersion: "v0.1.0"
  mirrorPercentage: 100.0