app:
  name: app
  replicas: 3
  
  image:
    repository: ghcr.io/doda25-team9/app
    tag: latest
    pullPolicy: Always
  
  service:
    name: app-service
    port: 8080
    type: ClusterIP
  
  labels:
    app: sms-checker
    component: app

modelService:
  name: model
  replicas: 2
  
  image:
    repository: ghcr.io/doda25-team9/model-service
    tag: latest
    pullPolicy: Always
  
  service:
    name: model-service
    port: 8081
    type: ClusterIP
  
  labels:
    app: model-service
  
  volume:
    hostPath: /mnt/shared/models

ingress:
  enabled: true
  name: app-ingress
  className: nginx
  host: sms-checker.local

configMap:
  name: env-config-map

secret:
  name: secret
  smtpUser: "placeholder-user"
  smtpPass: "placeholder-password"

kube-prometheus-stack:
  fullnameOverride: "prometheus"

  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelector:
        matchLabels:
          release: prometheus
      alertingEndpoints:
      - name: prometheus-alertmanager
        namespace: default
        port: http-web
        scheme: http
          
  alertmanager:
    enabled: true
    alertmanagerSpec:
      configSecret: alertmanager-prometheus-alertmanager

  grafana:
    enabled: true
    adminUser: admin
    adminPassword: admin123
  
istio:
  enabled: true
  host: sms-checker.local
  
  gateway:
    name: sms-gateway
    ingressGatewaySelector: ingressgateway
  
  trafficSplit:
    stable: 90
    canary: 10

  stickySession:
    enabled: true
    cookieName: user-session
    ttl: 3600

versions:
  v1:
    enabled: true
    replicas: 3
    imageTag: latest
  
  v2:
    enabled: true
    replicas: 1
    imageTag: latest